<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <div class="container py-4 text-center">
      <h1>Gossip n°<%= params['id']%></h1>
      <br>
      <div class="card mx-5">
        <div class="card-body text-center py-5">
          <% gossip = Gossip.find(params['id']) %>
          <h5><%= gossip.title %></h5>
          <p><%= gossip.content %></p>
        </div>
        <div class="card-footer">
          <p class="small text-right text-muted">
            Posté par <%= link_to "#{gossip.user.first_name} #{gossip.user.last_name}", user_path(gossip.user.id) %> le <%= gossip.created_at.strftime("%d/%m/%Y") %> à <%= gossip.created_at.strftime("%H:%I") %>.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
