<html>
  <head>
  </head>
  <body>
    <% if @comment.errors.any? %>
    <div class="container alert alert-danger mt-3 pt-3 pb-1" role="alert">
        <p>Nous n'avons pas réussi à modifier le gossip pour la (ou les) raison(s) suivante(s) :</p>
        <ul>
          <% @comment.errors.each_with_index do |message, i| %>
            <li><%= message[1] %></li>
          <% end %>
        </ul>
    </div>
    <% end %>
    <div class="container mt-5">
      <h1 style="color: #053557" class="text-center">Modifier le commentaire ?</h1>

      <div class="m-5 px-5">
        <p class="ml-3 mb-1"><span style="color: #053557"><%= current_user.full_name %></span> :</p>
        <%= form_tag comment_path, method: "put" do %>
          <div class="form-group">
            <%= text_area_tag 'content', @comment.content, class: 'form-control' %>
          </div>
          <div class="btn-toolbar mx-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group">
              <a href="<%= gossip_path(@comment.gossip.id) %>" class="btn btn-dark mx-1">Retour</a>
            </div>
            <div class="btn-group mr-2" role="group">
              <button type="submit" class="btn btn-success mx-1">Modifier</button>
            </div>
            <div class="btn-group mr-2" role="group">
              <a href="<%= comment_path(@comment.id) %>" class="btn btn-danger mx-1" data-confirm="Êtes-vous sûrs de vouloir le supprimer ?" data-method="DELETE">Supprimer</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>