<html>
  <head>
  </head>

  <body>
    <% if @user.errors.any? %>
      <div class="alert alert-danger pt-3 pb-1 pl-5" role="alert">
          <p>Nous n'avons pas réussi à créer votre compte pour la (ou les) raison(s) suivante(s) :</p>
          <ul>
            <% @user.errors.each_with_index do |message, i| %>
              <li><%= message[1] %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

    <div class="container py-5 text-center">
      <h1 style="color: #053557">Inscription</h1>

      <div class="m-5 px-5">
        <%= form_for @user, class: 'form-horizontal' do |f| %>
          <div class="form-group">
            <%= f.text_field :first_name, class: 'form-control', placeholder: 'Prénom' %> 
          </div>
          <div class="form-group">
            <%= f.text_field :last_name, class: 'form-control', placeholder: 'Nom' %>
          </div>
          <div class="form-group">
            <%= f.collection_select :city_id, City.all, :id, :name, {prompt: "Ville"}, {class: "form-control"} %>
          </div>
          <div class="form-group">
            <%= f.number_field :age, min: 18, max: 199, class: 'form-control', placeholder: 'Age' %>
          </div>
          <div class="form-group">
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, class: 'form-control', placeholder: 'Mot de passe' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirmation de mot de passe' %>
          </div>
          <div class="btn-toolbar mx-3 flex-nowrap" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group">
              <a href="<%= root_path %>" class="btn btn-dark mx-1">Retour</a>
            </div>
            <div class="btn-group mr-2" role="group">
              <button type="submit" class="btn btn-success mx-1">S'inscrire</button>
            </div>
          </div>
        <% end %>
      </div>

    </div>

  </body>

</html>
