<html>
  <head>
  </head>
  <body>

      <div class="jumbotron">
        <h1 class="display-3 text-center" style="color: #053557">My Gossip Project</h1>
        <p class="lead text-center pt-2">Ou la poésie de vos doux petits mots</p>
      </div>

    <div class="container py-5 text-center">
      <div class="card-deck">
        <% Gossip.all.each do |gossip| %>
          <div class="col-lg-4 col-md-6 mb-3">
            <div class="card text-left my-3">
              <div class="card-body">
                <h5 class="card-title bold">
                  <%= link_to "#{gossip.id}. #{gossip.title}", gossip_path(gossip.id) %>
                </h5>
                <p class="card-text"><%= gossip.content %></p>
              </div>
              <div class="card-footer">
                <a href="<%= gossip_path(gossip.id) %>">
                  <p class="small float-left text-muted pr-2"><%= gossip.comments.count %> 💬</p> 
                </a>
                <a href="<%= gossip_path(gossip.id) %>">
                  <p class="small float-left text-muted"><%= gossip.comments.count %> 🤍</p>
                </a>
                <p class="small float-right text-muted">Posté par <%= link_to "#{gossip.user.first_name}", user_path(gossip.user.id) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </body>
</html>