<html>
  <head>
  </head>
  <body>
    <div class="container px-5 my-5">
      <h1 style="color: #053557" class="text-center">Gossip n°<%= params['id']%></h1>
      <br>
      <div class="card">
        <div class="card-body text-center py-5">
          <h4 style="color: #053557; font-weight: 450;"><%= @gossip.title %></h4>
          <p><%= @gossip.content %></p>
        </div>
        <div class="card-footer">
          <p class="small float-left text-muted pr-2">
            <%= @gossip.comments.count %> 
            <a href="#">
            <i class="far fa-comment-dots"></i></a>
          </p> 
          <p class="small float-left text-muted">
            <%= @gossip.likes.count %>
            <% pre_like = @gossip.likes.find { |like| like.user_id == current_user.id} %>
            <% if pre_like %>
              <%= link_to "<i class='fas fa-heart'></i>".html_safe, gossip_like_path(@gossip.id, pre_like), method: :delete %>
            <% else %>
              <%= link_to "<i class='far fa-heart'></i>".html_safe, gossip_likes_path(@gossip.id), method: :post %>
            <% end %>
          </p>
          <p class="small text-right text-muted">
            Posté par <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", user_path(@gossip.user.id) %> (<%= link_to "#{@gossip.user.city.name}", city_path(@gossip.user.city.id) %>), le <%= @gossip.created_at.strftime("%d/%m/%Y") %> à <%= @gossip.created_at.strftime("%H:%M") %>.
          </p>
        </div>
      </div>

      <div class="btn-toolbar mx-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group">
          <a href="<%= gossips_path %>" class="btn btn-dark mt-3 mx-1">Retour</a>
        </div>
        <% if logged_in? && current_user?(@gossip.user) %>
          <div class="btn-group mr-2" role="group">
            <a href="<%= edit_gossip_path(@gossip.id) %>" class="btn btn-success mt-3 mx-1">Modifier</a>
          </div>
          <div class="btn-group mr-2" role="group">
            <a href="<%= gossip_path(@gossip.id) %>" class="btn btn-danger mt-3 mx-1" data-confirm="Êtes-vous sûrs de vouloir le supprimer ?" data-method="DELETE">Supprimer</a>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container px-5 mb-5">
      <% if logged_in? %>
        <p class="small text-muted ml-2 mb-1"><span style="color: #053557"><%= current_user.full_name %></span> :</p>
        <%= form_tag url_for(:controller => "comments", :action => "create"), method: 'post' do %>
          <input id="gossip" name="gossip_id" type="hidden" value="<%=@gossip.id%>" />
          <div class="form-group">
          <%= text_area_tag 'content', @comment.content, class: 'form-control', placeholder: 'Commenter ce gossip' %>
          </div> 

          <div class="btn-group d-flex justify-content-end mb-3 mx-3" role="group">
            <%= submit_tag "Commenter", class: "btn btn-dark mx-1" %> 
          </div>
        <% end %>
      <% end %>

      <div class="mt-5">
        <% x = 1 %>
        <% @gossip.comments.each do |comment| %>
            <div class="card my-2">
              <div class="card-body<%= " text-right" if x % 2 == 0 %>">
                <p class="small text-muted mb-1">
                  Commenté par <%= link_to "#{comment.user.first_name} #{comment.user.last_name}", user_path(@gossip.user.id) %> (<%= link_to "#{comment.user.city.name}", city_path(comment.user.city.id) %>), le <%= comment.created_at.strftime("%d/%m/%Y") %> à <%= comment.created_at.strftime("%H:%M") %>. 
                  <% if current_user?(comment.user) %>
                  <a href="<%= edit_comment_path(comment.id) %>", style="color: green"><i class="far fa-edit ml-1"></i></a>
                  <a href="<%= comment_path(comment.id) %>", style="color: red", data-confirm="Êtes-vous sûrs de vouloir supprimer ce commentaire ?", data-method="DELETE"><i class="far fa-trash-alt"></i></a>
                  <% end %>
                </p>
                <p><%= comment.content %></p>
              </div>
            </div>
          <% x += 1 %>
        <% end %>
      </div>
    </div>
  </body>
</html>
